.wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 342px;
}

.button {
  display: inline;
  max-width: 350px;

  text-align: center;
  font-family: Play;
  font-weight: 700;
  font-size: 18px;

  cursor: pointer;
  transition: border-color 0.25s;
}

.bb {
  border-radius: 28px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.6em 1.2em;
  font-family: Play;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 133%; */
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

.button[data-variant="primary"] {
  display: inline-block;
  padding: 16px 46px;
  border-radius: 28px;
  background-color: var(--bg_secondary);
  border: 1px solid var(--content_placeholder);
  color: var(--content_primary);
  width: 100%;
}

.button[data-variant="svg"] {
  padding: 16px 23px;
}

.button[data-variant="secondary"] {
  padding: 16px 45px;
  border-radius: 28px;
  background-color: var(--bg_black_disabled);
  color: var(--content_disabled);
}

.button[data-variant="white"] {
  padding: 15px 125px;
  border-radius: 28px;
  border: 1px solid #000;
  background-color: var(--white);
  color: var(--content_black);
}

.button[data-variant="svg"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border-radius: 28px;
  background-color: var(--bg_secondary);
  border: 1px solid var(--content_placeholder);
  color: var(--content_primary);
  width: 100%;
}

.button[data-variant="text"] {
  /* display: inline-block; */
  /* padding: 16px 46px; */
  background-color: transparent;
  border: none;
  color: var(--content_black);
  width: 100%;
  line-height: 145%;
}

.button[data-variant="cross"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: var(--white);
  color: var(--content_black);
}
.button[data-variant="crossnotborder"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  background-color: var(--white);
  color: var(--content_black);
}

.button:hover {
  color: var(--content_primary);
  background-color: var(--bg_67a5eb);
  border-color: var(--bg_67a5eb);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
.button {
  color: var(--content_disabled);
  background-color: var(--bg_45526E);
  border-color: var(--bg_45526E);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  /* background-color: transparent; */
}

@media (max-width: 576px) {
  .button[data-variant="primary"] {
    /* display: inline-block; */
    padding: 17px 37px;
    /* border-radius: 28px;
  background-color: var(--bg_secondary);
  border: 1px solid var(--content_placeholder);
  color: var(--content_primary);
  width: 100%; */
  }
}
