.button {
  font-family: sans-serif;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button[data-variant="primary"] {
  background-color: var(--color__primary);
  color: var(--color__background);
}

.button[data-variant="secondary"] {
  background-color: var(--color__secondary);
  color: var(--color__text);
}

.button[data-size="medium"] {
  padding: 0;
  font: var(--font-body18bold);
}

.button[data-size="small"] {
  padding: 6px;
  font-size: 12px;
  line-height: 18px;
  height: 30px;
}

.button:disabled {
  opacity: 0.5;
}
