.login_form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 24px;
  margin: 0 auto;
  width: 100%;
  border-radius: 24px;
  background-color: var(--bg_white);
}

.login_form_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin: 0 auto;
  margin-bottom: 1px;
  width: 100%;
}

.login_form_logo {
  width: 157px;
  height: 34px;
  margin-bottom: 17px;
}

.login_form_btnprimary {
  width: 100%;
}

.login_form__error {
  color: var(--content_err);
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 8px;
}

.input {
  width: 100%;
  font: var(--font-body18reg);
  background: var(--white);
  border: 0;
  box-shadow: none;
  color: var(--content_black);
  border: 1px solid var(--content_placeholder);
  outline: none;
  border-radius: 8px;
  padding: 0;
  padding-bottom: 2px;
}

.input::placeholder {
  font: var(--font-body18reg);
  color: var(--content_placeholder);
}

.input__icon {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 15px;
}

.input__icon_path {
  fill: var(--content_placeholder);
  fill-opacity: 1;
}

.input:focus,
.input:hover {
  border-color: var(--content_active);
}
.input:focus::placeholder,
.input:hover::placeholder {
  color: var(--content_disabled);
}
.input:focus::placeholder,
.input:hover::placeholder {
  color: var(--content_disabled);
}

.input:focus + .input__icon .input__icon_path,
.input:hover + .input__icon .input__icon_path {
  fill: var(--content_active);
}

.input:active + .input__icon .input__icon_path {
  fill: var(--content_active);
}

.input:not(:placeholder-shown) + .input__icon .input__icon_path {
  fill: var(--content_placeholder);
}

.input__icon_err {
  fill: var(--content_err);
}

.input:not(:placeholder-shown) {
  border-color: var(--bg_secondary);
}

.btn__cross {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -2px;
  right: -72px;
}

.reg_form_title {
  margin: 0;
  font: var(--font-body24bold);
  color: var(--content_black);
}
.reg_form_descr {
  margin: 0;
  text-align: center;
  font: var(--font-body18reg);
  color: var(--content_black);
}

@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .login_form_logo {
    width: 134px;
    margin-bottom: 8px;
  }
  .login_form_wrap {
    margin-bottom: -1px;
  }

  .login_form_bymail {
    padding-bottom: 8px;
  }
}
