.card {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 16px;
  outline: 1px solid var(--white_25);
  background-color: var(--bg_3c3c3c);
  box-shadow: 0 0 80px 0 var(--white_33);
  transition: outline 0.3s ease-in-out;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__notposter {
  background-image: url("../../assets/noposter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__linc {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card__number {
  position: absolute;
  top: -12px;
  left: -12px;
  display: inline-block;
  padding: 8px 24px;
  background-color: var(--bg_white);
  border-radius: 50px;
  z-index: 10;
}
.card__cross {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -19px;
  right: -20px;
  display: inline-block;
  padding: 10px 13px;
  background-color: var(--bg_white);
  border-radius: 50px;
  transition: opacity 0.3s ease-in-out;
}

.card__cross_svg path {
  fill: var(--bg_black);
  transition: fill 0.3s ease-in-out;
}

.card:hover {
  outline: 1px solid var(--bg_white);
  transition: outline 0.3s ease-in-out;
}

.card:hover .card__cross {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}

.card__cross:hover .card__cross_svg path {
  fill: var(--bg_brand_active);
  transition: fill 0.3s ease-in-out;
}

.card__number_span {
  font: var(--font-body24bold);
  color: var(--bg_brand_active);
}

.card__wrap {
  height: 100%;
}

.card__cartoon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  /* Скрываем стандартный значок битой картинки в некоторых браузерах */
  text-indent: 0;
  overflow: hidden;
}

/* Создаем фон, который перекроет пустоту */
.card__cartoon::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg_3c3c3c); /* Цвет фона карточки */
  z-index: 1;
}

/* Отрисовываем ALT текст поверх фона по центру */
.card__cartoon::after {
  content: attr(alt); /* Берем текст из атрибута alt */
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  /* Центрирование */
  justify-content: center;
  align-items: center;
  text-align: center;

  /* Оформление текста */
  font: var(--font-body18bold); /* Или другой ваш шрифт */
  color: var(--content_primary);
  padding: 20px;
  box-sizing: border-box;
}
/* карта поиска */

.cardsearch {
  border: none;
  border-radius: 16px;
  position: relative;
}

.cardsearch:hover .cardsearch__wrap {
  border-radius: 6px;
  outline: 1px solid var(--content_disabled);
  transition: outline 0.3s ease-in-out;
}

.cardsearch__cartoon {
  height: 52px;
  margin-right: 20px;
}

.cardsearch__wrap {
  padding: 20px 8px;
  display: flex;
}

/* ------------------------ */

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero {
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  min-height: 588px;
}

.hero__info__left {
  max-width: 600px;
  padding-top: 74px;
}
.hero__info__right {
  max-width: 680px;
  max-height: 552px;
  border-radius: 16px;
}

.annotation {
  margin-bottom: 7px;
}

.annotation__collect {
  font: var(--font-body14reg);
  color: var(--content_secondary);
}
.marginNotLastchild16:not(:last-child) {
  margin-right: 12px;
}

.annotation__rating {
  display: inline-block;
  padding: 0px 8px;
  border-radius: 16px;
}
.annotation__rating svg {
  width: 9.5px;
  height: 9px;
}

.annotation__rating_gold {
  background-color: var(--bg_a59400);
}
.annotation__rating_green {
  background-color: var(--bg_308e21);
}
.annotation__rating_silver {
  background-color: var(--bg_777777);
}
.annotation__rating_red {
  background-color: var(--bg_c82020);
}

.annotation__rating_svg {
  margin-right: 4px;
}

.annotation__rating_span {
  font: var(--font-body12bold);
  color: var(--content_primary);
}

.annotation__time {
  white-space: nowrap;
}

.hero__title {
  margin: 0;
  min-height: 10px;
  font: var(--font-body18bold);
  color: var(--content_primary);
}

.hero__subtitle {
  margin: 0;
  margin-bottom: 58px;
  min-height: 65px;
  font: var(--font-body24reg);
  color: var(--content_secondary);

  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  line-clamp: 2;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.hero__wrapper_btn {
  display: inline-flex; /* Для выравнивания иконки и текста */
  align-items: center; /* Вертикальное выравнивание элементов */
  gap: 16px;
}

.btn__svg {
  vertical-align: bottom;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .card {
    box-shadow: none;
  }
  .card__wrap {
    position: relative;
  }

  .cardsearch__wrap {
    flex-direction: column;
    gap: 16px;
    padding: 0 0 0 0;
  }

  .cardsearch__cartoon {
    height: 206px;
    width: 158px;
    margin-right: 0;
  }

  .cardsearch:hover .cardsearch__wrap {
    border: none;
    outline: none;
  }
}
