.auth_form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 64px 40px;
  padding-bottom: 54px;
  width: 420px;
  background-color: var(--bg_white);
  border-radius: 24px;
}

/* ---------------------------- */

.auth-form__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--color__text);
  font-family: sans-serif;
  margin: 0;
}

.auth-form__selector {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.auth-form__selector > .auth-form__title:not([data-active="true"]) {
  opacity: 0.5;
}

.btn__cross {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -2px;
  right: -72px;
}

@media (max-width: 768px) {
  .btn__cross {
    top: 8px;
    right: 7px;
  }
}
@media (max-width: 576px) {
  .auth_form {
    padding: 63px 20px;
    padding-bottom: 22px;
    width: 335px;
    gap: 12px;
  }

  .login_form_logo {
    width: 134px;
    margin-bottom: 27px;
  }
}
