.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modalContent {
  position: relative;
  width: 90%;
  max-width: 1000px;
  background: #000;
  border-radius: 12px;
  /* overflow: hidden; */
}

.videoContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* Автоматически держит размер видео */
}

.videoContainer iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
}

/* --- */

.btn__cross {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: -73px;
  z-index: 10;
}

@media (max-width: 768px) {
  .btn__cross {
    width: 32px;
    height: 32px;
    right: 0;
  }
}
