.footer {
  display: flex;
  column-gap: 25px;
  justify-content: end;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 42px;
  padding-bottom: 43px;
}

@media (max-width: 768px) {
  .footer {
    padding: 0 20px;
    padding-top: 52px;
    padding-bottom: 36px;
    justify-content: start;
    gap: 24px;
  }
}
