html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  /* This inherits all CSS values including `overflow` */
  /* all: inherit; */
}

*:focus {
  outline: none;
}

:root {
  --conten: #ffffffb3;
  --white: #ffffff;
  --white_25: #ffffff40;
  --white_33: rgba(255, 255, 255, 0.33);
  --white_80: #ffffffcc;
  --content_70: #ffffffb2;
  --content_primary: #ffffff;
  --content_secondary: #ffffffb2;
  --content_active: #b4a9ff;
  --content_disabled: #ffffff80;
  --content_black: #000;
  --content_placeholder: rgba(0, 0, 0, 0.4);
  --content_err: #ff7575;
  --bg_white: #ffffff;
  --bg_black: #0a0b0b;
  --bg_secondary: #393b3c;
  --bg_brand_active: #6a5dc2;
  --bg_black_disabled: #747474;
  --bg_333333: #333333;
  --bg_a59400: #a59400;
  --bg_3c3c3c: #3c3c3c;
  --bg_308e21: #308e21;
  --bg_67a5eb: #67a5eb;
  --bg_dc5dfc: #dc5dfc;
  --bg_282828: #282828;
  --bg_45526E: #45526e;
  --bg_777777: #777777;
  --bg_c82020: #c82020;
  --gradient-1: linear-gradient(
    #2787f5 0% 90%,
    #a393f5 100% 90%,
    #000000 0% 100%,
    #272424 100% 70%
  );
  --gradient-1: linear-gradient(
    rgba(39, 135, 245, 0.18) 0%,
    rgba(163, 147, 245, 0.18) 100%
  );
  --gradient-2: linear-gradient(#000000 0%, rgba(39, 36, 36, 0.7) 100%);
  --A-background: #00000066;
  --B-background: #ff0000;
  --C-background: #0077ff;
  --D-background: #b4a9ff;

  ---------COLOR: ____________;
  ------font-primer: 700 48px/56px "Play";
  --font-body12bold: 700 12px/16px "Play";
  --font-body14reg: 400 14px/20px "Play";
  --font-body18reg: 400 18px/24px "Play";
  --font-body24reg: 400 24px/32px "Play";
  --font-body18bold: 700 18px/24px "Play";
  --font-body24bold: 700 24px/32px "Play";
  --font-h1_48bold: 700 48px/56px "Play";
  --font-h2_40bold: 700 40px/48px "Play";
}
.primerFont {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  font-family: "Play";
}

@font-face {
  font-family: "Play";
  src: local("play"), url("./fonts/play.woff2"), url("./fonts/play.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: local("play-bold"), url("./fonts/play-bold.woff2"),
    url("./fonts/play-bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: local("play-bold"), url("./fonts/OpenSansBold.woff2"),
    url("./fonts/OpenSansBold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Play", sans-serif;
  font-weight: 400;
  background: var(--gradient-1), var(--gradient-2);
}

.top__swiper,
.top__swiper .swiper-wrapper,
.top__swiper .swiper-slide {
  background-color: transparent !important;
}

main {
  min-height: calc(97vh - 96px - 98px);
}

button {
  border-radius: 28px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.6em 1.2em;
  font-family: Play;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  transition: border-color 0.25s;
}
